*{
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  color: $darkSlate;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: $lightSteelBlue;
}

a:hover{
  color: $slateGray;
}

iframe {
    /*display:block;*/
    background: white;
}
